<!DOCTYPE >
<html>
<head>
    <title>userInfo</title>
    <link href="../src/css/bootstrap.css" rel="stylesheet" />
    <link href="../src/css/font-awesome.css" rel="stylesheet" />
    <link href="../src/css/custom-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="./../src/css/login.css">
    <link rel="stylesheet" href="./../src/css/basic.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" action="" method="POST"  enctype="multipart/form-data" >
                <span class="heading">Error</span>
                <h3>This username has been choose</h3>
                <div class="form-group">
                   <h4> <a href="/signUp">Choose Another Name </a></h4>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>